@{
    ViewBag.Title = "Home Page";
}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Categorias</h1>
            <div class="list-group">

                @{ var Categorias = PIDI.Controllers.Admin.CategoryController.Instance.GetCategories(10);

                    foreach (var item in Categorias)
                    {
                        <a href='@Url.Action("FilterProducts", "Product", new { area = "Product" , category = item.CategoryName})' class="list-group-item">@item.CategoryName</a>
                    }

                }
            </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <div class="row">

                @{var Products = PIDI.Controllers.Admin.ProductController.Instance.GetProducts(100);

                    foreach (var item in Products)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href='@Url.Action("VisualizeProduct", "Product", new { area = "Product" , id = item.Id})'><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">@item.ProductName</a>
                                    </h4>
                                    <h5>R$@item.Preco</h5>
                                    <p class="card-text">@item.ProductDescription</p>
                                </div>
                                <div class="card-footer">
                                    @Html.ActionLink("Adicionar ao carrinho", "OrderNow", "ShoppingCart", new { area = "ShoppingCart", id = item.Id }, new { @class = "btn btn-info " })
                                    @Html.ActionLink("Comprar", "OrderNow", "ShoppingCart", new { area = "ShoppingCart", id = item.Id }, new { @class = "btn btn-info " })
                                </div>
                            </div>
                        </div>
                    }
                }



            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<!-- Footer -->
<footer class="py-5 bg-dark footer navbar-fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>
