@model IEnumerable<PIDI.Models.Admin.PromotionModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreatePromotion")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PromotionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discountAmount)
        </th>
        <th>
            ID Produto
        </th>

        <th>
            @Html.DisplayNameFor(model => model.products)
        </th>
        <th>
           Categoria Produto
        </th>

        <th>
            @Html.DisplayNameFor(model => model.InitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discountAmount)%
            </td>

            <td>

                @{
                    var produtos = item.products;
                       
                    for (int i = 0; i < produtos.Count; i++)
                    {
                        <p> @produtos[i].Id.ToString()</p>

                        if(i==2)
                        {
                            <p>...</p>
                            break;
                        }
                    }

                }
            </td>

            <td>

                @{
                    for (int i = 0; i < produtos.Count; i++)
                    {
                        <p> @produtos[i].ProductName</p>

                        if(i==2)
                        {
                            <p>...</p>
                            break;
                        }
                    }

                }
            </td>

            <td>

                @{
                    for (int i = 0; i < produtos.Count; i++)
                    {
                        <p> @produtos[i].Category</p>

                        if (i == 2)
                        {
                            <p>...</p>
                            break;
                        }
                    }
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.InitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPromotion", new { id = item.id }) |
                @Html.ActionLink("Details", "PromotionDetails", new { id = item.id }) |
                @Html.ActionLink("Delete", "DeletePromotion", new { id = item.id })
            </td>
        </tr>
    }

</table>
