@model PIDI.Models.Commom.PedidosModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtPeiddo)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.precoTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.dtPeiddo)
        </td>
    </tr>

