@model IEnumerable<PIDI.Models.CategoryModel>

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Adicionar nova categoria", "Create", null, new { @class = "btn btn-info btn-lg" })
        </div>
    </div>


    <table class="table table-striped h3 ">
        <thead>
            <tr>
                <th class="text-monospace h2 font-weight-bold">
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th class="text-monospace h2 font-weight-bold"  >
                    @Html.DisplayNameFor(model => model.CategoryDescription)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryDescription)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-lg " })
                        @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-lg" })
                        @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @class = "btn btn-info btn-lg" })
                    </td>
                </tr>
            }
        </tbody>


    </table>
</div>