@model IEnumerable<PIDI.Models.UserModel>

@{
    ViewBag.Title = "GerarRelatorioCliente";
    DateTime horaGerado = DateTime.Now;
}

<h2>Relatórios Clientes </h2>

<style>
    .fieldName {
        width: 120px;
        height: 25px;
        margin-left: 10px;
    }
</style>

<form action="/Relatorio/GerarRelatorioCliente" method="post">
    <div class="form-group text-monospace h4 font-weight-bold">
        <div class="input-group">

            <label class="fieldName" for="dtNascimento">Data de Inicio</label>
            <input class="form-control form-control-lg text-box single-line" id="dtInicio" name="dtInicio" required="required" type="date" value="">
            <span class="field-validation-valid text-danger" data-valmsg-for="dtInicio" data-valmsg-replace="true"></span>

            <label class="fieldName" for="dtNascimento">Data Final</label>
            <input class="form-control form-control-lg text-box single-line" id="dtFinal" name="dtFinal" required="required" type="date" value="">
            <span class="field-validation-valid text-danger" data-valmsg-for="dtFinal" data-valmsg-replace="true"></span>


            &nbsp &nbsp
            <input class="btn btn-info btn-lg" type="submit" value="Gerar relatório">
        </div>

    </div>
</form>

<table class="table table-striped h4" ; style="text-align: center">
    <thead>
        <tr>
            <th>
                Dia Geração relatório : @horaGerado | Periodo Analisado @ViewBag.dtInicio - @ViewBag.dtFinal
            <td>
                @{
                    @Html.ActionLink("Export Excel", "DownloadClienteExcel", "Relatorio", new { horaGerado = horaGerado.ToString()}, new { @class = "btn btn-info btn-lg " });
                }
            </td>
            </th>
        </tr>
    </thead>
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpf)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.userId)*@
                    @item.Id.ToString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sobrenome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.dtCriacao)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.dtNascimento)
                </td>

                <td>
                   @Html.DisplayFor(modelItem => item.cpf)
                </td>
            </tr>
        }
    </tbody>
</table>

