@using PIDI.App_Start;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap core CSS -->
    <link href="~/teste/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/teste/css/shop-homepage.css" rel="stylesheet">
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/img/Logo.png" alt="img/alt.png" /></a> <h1 class="text-white-50 ">JC Sublimações</h1>

            <div class="input-group input-group-lg d-flex justify-content-center w-50 p-3">
                <input type="text" class="form-control" id="search" placeholder="Pesquisar produtos" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary font-weight-bold text-white-50" onclick="myFunction()">Buscar</button>

                    @*@Html.ActionLink("Buscar", "SearchProduct", "Product", null , new { @class = "btn btn-outline-secondary font-weight-bold text-white-50" , @id = "Buscar" , @onclick="check"})*@
                </div>

            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    @if (SessionContext.Instance.GetUserData() != null)
                    {
                        <li style="font-size:20px">@Html.ActionLink("Perfil", "ShowProfile", "Account", new { area = "Account" }, new { @class = "nav-link" })</li>
                        <li style="font-size:20px">@Html.ActionLink("Logout", "Logout", "Account", new { area = "Account" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li style="font-size:20px">@Html.ActionLink("Login", "Login", "Account", new { area = "Account" }, new { @class = "nav-link" })</li>
                        <li style="font-size:20px">@Html.ActionLink("Cadastro", "Registration", "User", new { area = "User" }, new { @class = "nav-link" })</li>

                    }
                    @*<li style="font-size:20px">@Html.ActionLink("Index", "ShoppingCart", new { area = "ShoppingCart" }, new { @class = "nav-link" }) </li>*@
                    <a href='@Url.Action("Index", "ShoppingCart", new { area = "ShoppingCart" })'><img class="card-img-top" src="~/img/carrinho-jc.png" alt=""></a>


                    <!--<li style="font-size:20px">@Html.ActionLink("Carrinho", "Index", "ShoppingCart", new { area = "ShoppingCart" }, new { @class = "nav-link" })</li>-->
                </ul>
            </div>
        </div>
    </nav>

    <br />

    <script>
        function myFunction() {
            var text = document.getElementById("search").value;
            var url = "/Product/SearchProduct?area=Product&productToFind=" + text;

            window.location.href = url;
        }
    </script>

    @RenderBody()



    <script src="~/teste/vendor/jquery/jquery.min.js"></script>
    <script src="~/teste/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>
