@model PIDI.Models.UserModel
@using PIDI.App_Start;
@{
    ViewBag.Title = "ShowProfile";
}

<h2>ShowProfile</h2>

<div>
    <h4>UserModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Profile", "EditProfile")
</p>
