@model PIDI.Models.ProductModel
@using PIDI.Controllers.Admin;
@using MongoDB.Bson;
@{
    ViewBag.Title = "Create";
}
<style>
    @ViewData.
.uploadPreview{
    display: flex;
}
.fixed{
    width: 200px;
}
.flex-item{
    flex-grow: 50;
    max-height : 150px;
    max-width : 150px;
}
</style>

<div class="container">

    <h2>Incluir produto</h2>

    <form class="images" onsubmit="return false;" method="post" enctype="multipart/form-data">
        <input type="file" id="uploadImage" name="termek_file" class="file_input" multiple />
        <div id="result" class="uploadPreview"></div>
    </form>

    @using (Html.BeginForm("Create", "Product", new { id = @Model.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger"})
            <div class="form-group text-monospace h4 font-weight-bold">
                @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group text-monospace h4 font-weight-bold">
                @Html.LabelFor(model => model.ProductDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductDescription, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                    @Html.ValidationMessageFor(model => model.ProductDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group text-monospace h4 font-weight-bold">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                @{
                    var categories = CategoryController.Instance.GetCategories(100);
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    int i = 0;
                    foreach (var item in categories)
                    {
                        if (i == 0)
                        {
                            listItems.Add(new SelectListItem
                            {
                                Text = item.CategoryName,
                                Value = item.CategoryName,
                                Selected = true
                            });
                        }
                        else
                        {
                            listItems.Add(new SelectListItem
                            {
                                Text = item.CategoryName,
                                Value = item.CategoryName,
                            });
                        }
                        ++i;
                    }
                }
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Category, listItems, new { htmlAttributes = new { @class = "form-control form-control-lg", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group text-monospace h4 font-weight-bold">
                @Html.LabelFor(model => model.Preco, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Preco, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                    @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group text-monospace h4 font-weight-bold">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>



            @*@Html.TextBoxFor(m => m.productImages, new { @type = "file", @id="uploadImage", @class="file_input" })
                @Html.ValidationMessageFor(m => m.productImages)*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Retornar", "Index", null, new { @class = "btn btn-info btn-lg" })&nbsp &nbsp
                    <input type="submit" onclick="validate()" value="Incluir" class="btn btn-info btn-lg" />
                </div>
            </div>
        </div>
    }



</div>


<!-- Adicionando JQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<script type="text/javascript">

   window.onload = function() {
  if (window.File && window.FileList && window.FileReader) {
    var filesInput = document.getElementById("uploadImage");
    filesInput.addEventListener("change", function(event) {
      var files = event.target.files;
        var output = document.getElementById("result");

      for (var i = 0; i < files.length; i++) {
          var file = files[i];
        if (!file.type.match('image'))
          continue;
        var picReader = new FileReader();
        picReader.addEventListener("load", function(event) {
            var picFile = event.target;
            var div = document.createElement("div");
          div.innerHTML = "<img class='flex-item' src='" + picFile.result + "'" +
            "title='" + picFile.name + "'/>";
          output.insertBefore(div, null);
        });
        picReader.readAsDataURL(file);
      }

    });
  }
    }


    validate = function () {

        var files = $("#uploadImage")[0].files;

        if (window.FormData !== undefined) {
            var data = new FormData();
            for (var x = 0; x < files.length; x++) {
                data.append("file" + x, files[x]);
            }

            $.ajax({
                type: "POST",
                url: '/Product/UpdateProductPhotos?id=@Model.Id.ToString()',
                contentType: false,
               processData: false,
               data: data,
               success: function(result) {
                   console.log(result);
               },
               error: function (xhr, status, p3, p4){
                   var err = "Error " + " " + status + " " + p3 + " " + p4;
                   if (xhr.responseText && xhr.responseText[0] == "{")
                       err = JSON.parse(xhr.responseText).Message;
                       console.log(err);
                    }
                });
        }
        else {
            alert("This browser doesn't support HTML5 file uploads!");
          }
        return false;
  }



</script>

