@model PIDI.Models.ProductModel

@{
    ViewBag.Title = "Delete";
}
    <div class="container">
        <h2>Excluir produto</h2>
        &nbsp
        <h3>Tem certeza que deseja excluir esse produto?</h3>
        <di>
            <hr />
            <div class="row">
                <div class="col-lg-2 border-bottom  text-monospace h4 font-weight-bold">
                    @Html.DisplayNameFor(model => model.ProductName)
                </div>
                <div class="col-lg-10 border-bottom text-monospace h4">
                    @Html.DisplayFor(model => model.ProductName)
                </div>
                <div class="col-lg-2 border-bottom  text-monospace h4 font-weight-bold">
                    @Html.DisplayNameFor(model => model.ProductDescription)
                </div>
                <div class="col-lg-10 border-bottom text-monospace h4">
                    @Html.DisplayFor(model => model.ProductDescription)
                </div>
                <div class="col-lg-2 border-bottom  text-monospace h4 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Category)
                </div>
                <div class="col-lg-10 border-bottom text-monospace h4">
                    @Html.DisplayFor(model => model.Category)
                </div>
                <div class="col-lg-2 border-bottom  text-monospace h4 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Preco)
                </div>
                <div class="col-lg-10 border-bottom text-monospace h4">
                    @Html.DisplayFor(model => model.Preco)
                </div>
                <div class="col-lg-2 border-bottom  text-monospace h4 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Quantity)
                </div>
                <div class="col-lg-10 border-bottom text-monospace h4">
                    @Html.DisplayFor(model => model.Quantity)
                </div>
            </div>
            &nbsp
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    @Html.ActionLink("Retornar", "Index", null, new { @class = "btn btn-info btn-lg" })&nbsp &nbsp &nbsp
                    <input type="submit" value="Excluir" class="btn btn-info btn-lg" />
                </div>
            }
    </div>
