@model PIDI.Models.ProductModel

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <h2>Detalhes do produto</h2>
    <div>
        <hr />
        <div class="row">
            <div class="col-lg-2 border-bottom  text-monospace h4 font-weight-bold">
                @Html.DisplayNameFor(model => model.ProductName)
            </div>
            <div class="col-lg-10 border-bottom text-monospace h4">
                @Html.DisplayFor(model => model.ProductName)
            </div>
            <div class="col-lg-2 border-bottom  text-monospace h4 font-weight-bold">
                @Html.DisplayNameFor(model => model.ProductDescription)
            </div>
            <div class="col-lg-10 border-bottom text-monospace h4">
                @Html.DisplayFor(model => model.ProductDescription)
            </div>
            <div class="col-lg-2 border-bottom  text-monospace h4 font-weight-bold">
                @Html.DisplayNameFor(model => model.Category)
            </div>
            <div class="col-lg-10 border-bottom text-monospace h4">
                @Html.DisplayFor(model => model.Category)
            </div>
            <div class="col-lg-2 border-bottom  text-monospace h4 font-weight-bold">
                @Html.DisplayNameFor(model => model.Preco)
            </div>
            <div class="col-lg-10 border-bottom text-monospace h4">
                @Html.DisplayFor(model => model.Preco)
            </div>
            <div class="col-lg-2 border-bottom  text-monospace h4 font-weight-bold">
                @Html.DisplayNameFor(model => model.Quantity)
            </div>
            <div class="col-lg-10 border-bottom text-monospace h4">
                @Html.DisplayFor(model => model.Quantity)
            </div>
        </div>
    </div>&nbsp
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-info btn-lg " }) &nbsp &nbsp
        @Html.ActionLink("Retornar", "Index", null, new { @class = "btn btn-info btn-lg" })
    </p>
</div>


