@model IEnumerable<PIDI.Models.ProductModel>

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Incluir Produto", "Create", null, new { @class = "btn btn-info btn-lg" })
        </div>
    </div>

    <table class="table table-striped h4"; style="text-align: center">
        <thead>
            <tr>
                <th class="text-monospace h3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th class="text-monospace h3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th class="text-monospace h3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.ProductDescription)
                </th>
                <th class="text-monospace h3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th class="text-monospace h3 font-weight-bold">
                    Preço
                </th>
                <th class="text-monospace h3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id.ToString()
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        R$ @item.GetPrice(true)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td style="text-align: left">
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-lg " }) 
                        @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-lg " }) 
                        @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @class = "btn btn-info btn-lg " })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>