@model IEnumerable<PIDI.Models.ProductModel>

@{
    ViewBag.Title = "SearhcProduct";
}


<style>
    .parent {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .child {
        height: 400px;
        width: 250px;
        margin: 10px;
    }
</style>

<div class="parent">
    @foreach (var item in Model)
    {
        <div class="child">
            <div class="card h-100">
                <a href='@Url.Action("VisualizeProduct", "Product", new { area = "Product" , id = item.Id})'><img class="card-img-top" src="@Url.Action("ShowPicture", "Product", new {productId = item.Id , id = item.productImages[0].id })" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">@item.ProductName</a>
                    </h4>
                    <h5>R$@item.GetPrice(true)</h5>
                    <p class="card-text">@item.ProductDescription</p>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Adicionar ao carrinho", "OrderNow", "ShoppingCart", new { area = "ShoppingCart", id = item.Id }, new { @class = "btn btn-info " })
                    @Html.ActionLink("Comprar", "OrderNow", "ShoppingCart", new { area = "ShoppingCart", id = item.Id }, new { @class = "btn btn-info " })
                </div>
            </div>
        </div>
    }
</div>

